<a href="https://colab.research.google.com/github/gramelon2003/Python_ptdl/blob/master/PYthon_Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bài 1:
Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống
Hãy:

- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”
- Hãy in toàn bộ dataframe ở trên ra màn hình

In [ ]:
import pandas as pd
a = ["Nguyễn Văn An", "Hoàng Lâm", "Lê Hoàng", "Nguyễn Nam", "Trần Phong", "Lê Trang", "Trần Đức", "Nguyễn Duy", "Lê Tôn", "Trần Ý"]
b = ["12/10/1998", "15/7/1997", "3/8/1992", "27/5/1987", "30/3/1993", "7/8/1995", "6/4/1994", "8/3/1992", "23/11/1989", "18/11/1996"]
c = [7, 9, 8, 9, 8, 7, 6, 7, 9, 10]
d = [20, 17, 15, 19, 8, 22, 34, 8, 35, 27]
f = []
for i in range(0, len(c)):
    a = c[i]*d[i]
    f.append(a)
name = pd.Series(a, name="Tên")
birthday = pd.Series(b, name = "Ngày sinh")
salaryh = pd.Series(c, name = "Lương theo giờ")
workh = pd.Series(d, name = "Giờ làm")
salary = pd.Series(f, name = "Lương")
name1 = pd.DataFrame(name)
print(f)
n = pd.concat([name, birthday, salaryh, workh, salary], axis=1)
print(n)

[140, 153, 120, 171, 64, 154, 204, 56, 315, 270]
     Tên   Ngày sinh  Lương theo giờ  Giờ làm  Lương
0  270.0  12/10/1998               7       20    140
1    NaN   15/7/1997               9       17    153
2    NaN    3/8/1992               8       15    120
3    NaN   27/5/1987               9       19    171
4    NaN   30/3/1993               8        8     64
5    NaN    7/8/1995               7       22    154
6    NaN    6/4/1994               6       34    204
7    NaN    8/3/1992               7        8     56
8    NaN  23/11/1989               9       35    315
9    NaN  18/11/1996              10       27    270

Bài 2:
Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng với key. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn hình;
- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

2.1

In [ ]:
import pandas as pd
import numpy as np
a = [["Nguyễn Văn An", "Hoàng Lâm", "Lê Hoàng", "Nguyễn Nam", "Trần Phong", "Lê Trang", "Trần Đức", "Nguyễn Duy", "Lê Tôn", "Trần Ý"],
     [16, 22, 18, 19, 18, 17, 23, 25, 19, 25],
     ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nam", "Nữ"]]
b = np.array(a)
b1 = np.transpose(b)
a1 = pd.DataFrame(b1, columns = ["Tên", "tuổi", "Giới Tính"])
print(a1)

             Tên tuổi Giới Tính
0  Nguyễn Văn An   16       Nam
1      Hoàng Lâm   22       Nam
2       Lê Hoàng   18       Nam
3     Nguyễn Nam   19       Nam
4     Trần Phong   18       Nam
5       Lê Trang   17        Nữ
6       Trần Đức   23       Nam
7     Nguyễn Duy   25       Nam
8         Lê Tôn   19       Nam
9         Trần Ý   25        Nữ

2.2

In [ ]:
import pandas as pd
a = {"Tên" :["Nguyễn Văn An", "Hoàng Lâm", "Lê Hoàng", "Nguyễn Nam", "Trần Phong", "Lê Trang", "Trần Đức", "Nguyễn Duy", "Lê Tôn", "Trần Ý"],
"Tuổi": [16, 22, 18, 19, 18, 17, 23, 25, 19, 25],
"Giới tính": ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nam", "Nữ"]}
n = pd.DataFrame(a)
print(n)

             Tên  Tuổi Giới tính
0  Nguyễn Văn An    16       Nam
1      Hoàng Lâm    22       Nam
2       Lê Hoàng    18       Nam
3     Nguyễn Nam    19       Nam
4     Trần Phong    18       Nam
5       Lê Trang    17        Nữ
6       Trần Đức    23       Nam
7     Nguyễn Duy    25       Nam
8         Lê Tôn    19       Nam
9         Trần Ý    25        Nữ

2.3

In [ ]:
import pandas as pd
a = [{"Tên":"Nguyễn Văn An", "Tuổi":16, "Giới tính": "Nam"},
     {"Tên":"Hoàng Lâm", "Tuổi":22, "Giới tính": "Nam"},
     {"Tên":"Lê Hoàng", "Tuổi":18, "Giới tính": "Nam"},
     {"Tên":"Nguyễn Nam", "Tuổi":19, "Giới tính": "Nam"},
     {"Tên":"Trần Phong", "Tuổi":18, "Giới tính": "Nam"},
     {"Tên":"Lê Trang", "Tuổi":17, "Giới tính": "Nữ"},
     {"Tên":"Trần Đức", "Tuổi":23, "Giới tính": "Nam"},
     {"Tên":"Nguyễn Duy", "Tuổi":25, "Giới tính": "Nam"},
     {"Tên":"Lê Tôn", "Tuổi":19, "Giới tính": "Nam"},
     {"Tên":"Trần Ý", "Tuổi":25, "Giới tính": "Nữ"}]
n = pd.DataFrame(a)
print(n)

             Tên  Tuổi Giới tính
0  Nguyễn Văn An    16       Nam
1      Hoàng Lâm    22       Nam
2       Lê Hoàng    18       Nam
3     Nguyễn Nam    19       Nam
4     Trần Phong    18       Nam
5       Lê Trang    17        Nữ
6       Trần Đức    23       Nam
7     Nguyễn Duy    25       Nam
8         Lê Tôn    19       Nam
9         Trần Ý    25        Nữ

2.4

In [ ]:
import pandas as pd
a = ["Nguyễn Văn An", "Hoàng Lâm", "Lê Hoàng", "Nguyễn Nam", "Trần Phong", "Lê Trang", "Trần Đức", "Nguyễn Duy", "Lê Tôn", "Trần Ý"]
b = [16, 22, 18, 19, 18, 17, 23, 25, 19, 25]
c = ["Nam", "Nam", "Nam", "Nam", "Nam", "Nữ", "Nam", "Nam", "Nam", "Nữ"]
d = list(zip(a, b, c))
d1 = pd.DataFrame(d, columns = ["Tên", "Tuổi", "Giới tính"])
print(d1)

             Tên  Tuổi Giới tính
0  Nguyễn Văn An    16       Nam
1      Hoàng Lâm    22       Nam
2       Lê Hoàng    18       Nam
3     Nguyễn Nam    19       Nam
4     Trần Phong    18       Nam
5       Lê Trang    17        Nữ
6       Trần Đức    23       Nam
7     Nguyễn Duy    25       Nam
8         Lê Tôn    19       Nam
9         Trần Ý    25        Nữ